button
  &[name='close']
      background-color: palette(primary, white-four)
      border-radius: 100px
      border: none
      cursor: pointer
      transition: background-color, .5s ease

      &:hover
        background-color: palette(primary, coral)

      svg
        color: white
        height: 10px
        width: 10px